<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="//yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css">
        <style type='text/css'>
        </style>
    </head>
    <body>
        <div class="col-md-4 col-xd-4">
            <canvas id="canvas" width="500" height="500">Sorry your browser does not support HTML5</canvas>
        </div>
        <div class="col-md-6 col-xd-6">
            <form role="form">
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="nickname">
                </div>

                <div class="form-group">
                    <label for="native_lang">Native language</label>
                    <select id="native_lang" class="form-control" name="native_lang">
                        <option value="english">English</option>
                        <option value="chinese">Chinese</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="learning_lang">Learning language</label>
                    <select id="learning_lang" class="form-control" name="learning_lang">
                        <option value="chinese">Chinese</option>
                        <option value="english">English</option>
                    </select>
                </div>

                <label class="radio-inline">
                    <input type="radio" name="mode" id="inlineRadio1" value="single" checked="checked"> Single
                </label>
                <label class="radio-inline">
                    <input type="radio" name="mode" id="inlineRadio2" value="multi2"> Multi
                </label>

                <hr>
                <div class="form-group">
                    <button type="button" id="enter" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </body>
    <script type='text/javascript' src='//yastatic.net/jquery/2.1.1/jquery.min.js'></script>
    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script type='text/javascript' src='/js/index.js'></script>
</html>